In [1]:
import sqlite3
con = sqlite3.connect('./test_db')

In [2]:
cur = con.cursor()
for row in cur.execute('SELECT * FROM person'):
    print(row)
    for column in row:
        print(column)

(3, 'c_update', 3.14)
3
c_update
3.14
(4, 'name_d', 2.236)
4
name_d
2.236

In [29]:
insert_sql = 'INSERT INTO person VALUES(?, ?, ?)'
insert_param = (1, 'test', 99.9)
cur.execute(insert_sql, insert_param) 
con.commit()
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})
print(cur.fetchall())

[(1, 'test', 99.9), (100, 'name_z', 99.9)]

In [9]:
con.close()

In [14]:
cur.execute('SELECT * FROM person WHERE size > :size', {'size':10})

In [24]:
update_sql = 'UPDATE person SET name = ? WHERE id = ?'
update_param = ('changed_name', 1)
cur.execute(update_sql, update_param)
con.commit()
cur.execute('SELECT * FROM person')
print(cur.fetchall())

[(1, 'changed_name', 10.5), (3, 'c_update', 3.14), (4, 'name_d', 2.0), (100, 'name_z', 99.9)]

In [27]:
delete_sql = 'DELETE FROM person WHERE id = 1'
cur.execute(delete_sql)
con.commit()
cur.execute('SELECT * FROM person')
print(cur.fetchall())

[(3, 'c_update', 3.14), (4, 'name_d', 2.0), (100, 'name_z', 99.9)]

In [3]:
### 内部結合と外部結合の演習
insert_sql = 'INSERT INTO person VALUES(?, ?, ?)'
insert_param = (1000, 'ensyu', 20)
cur.execute(insert_sql, insert_param) 
con.commit()

insert_sql = 'INSERT INTO human VALUES(?, ?, ?, ?)'
insert_param = (1000, 'ensyu', 200, 90)
cur.execute(insert_sql, insert_param) 
con.commit()

In [8]:
cur.execute('SELECT * FROM person INNER JOIN human on person.id == human.id')
print(cur.fetchall())

OperationalError: no such column: person.id