In [26]:
from sqlalchemy import create_engine
from sqlalchemy.orm import Session
from test_model import Person
from test_model import Human

In [20]:
engine = create_engine('sqlite:///test_db', echo=True)
session = Session(engine)
persons = session.query(Person).all()
for person in persons:
    print(f'id:{person.id} name:{person.name} size:{person.size}')

2023-10-07 14:52:48,149 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-07 14:52:48,151 INFO sqlalchemy.engine.Engine SELECT person.id AS person_id, person.name AS person_name, person.size AS person_size
FROM person
2023-10-07 14:52:48,160 INFO sqlalchemy.engine.Engine [generated in 0.00899s] ()
id:1 name:test size:99.9
id:3 name:c_update size:3.14
id:4 name:name_d size:2.0
id:100 name:name_z size:99.9

In [21]:
new_person = Person(id=5, name='from_model', size=100)
session.add(new_person)
session.commit()
persons = session.query(Person).all()
for person in persons:
    print(person.__dict__)

2023-10-07 14:52:50,242 INFO sqlalchemy.engine.Engine INSERT INTO person (id, name, size) VALUES (?, ?, ?)
2023-10-07 14:52:50,245 INFO sqlalchemy.engine.Engine [generated in 0.00295s] (5, 'from_model', 100.0)
2023-10-07 14:52:50,253 INFO sqlalchemy.engine.Engine COMMIT
2023-10-07 14:52:50,290 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-07 14:52:50,292 INFO sqlalchemy.engine.Engine SELECT person.id AS person_id, person.name AS person_name, person.size AS person_size
FROM person
2023-10-07 14:52:50,293 INFO sqlalchemy.engine.Engine [cached since 2.141s ago] ()
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f072b297f40>, 'name': 'test', 'size': 99.9, 'id': 1}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f072b297d00>, 'name': 'c_update', 'size': 3.14, 'id': 3}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f072b297f70>, 'name': 'name_d', 'size': 2.0, 'id': 4}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f072b297a60>, 'name': 'from_model', 'size': 100.0, 'id': 5}
{'_sa_instance_state': <sqlalchemy.orm.state.InstanceState object at 0x7f072b297d60>, 'name': 'name_z', 'size': 99.9, 'id': 100}

In [23]:
person4 = session.query(Person).filter(Person.id==4).first()
person4.size = 2.236
session.commit()
session.query(Person).filter(Person.size>10).delete()
session.commit()

2023-10-07 14:56:26,243 INFO sqlalchemy.engine.Engine SELECT person.id AS person_id, person.name AS person_name, person.size AS person_size
FROM person
WHERE person.id = ?
 LIMIT ? OFFSET ?
2023-10-07 14:56:26,245 INFO sqlalchemy.engine.Engine [cached since 18.71s ago] (4, 1, 0)
2023-10-07 14:56:26,248 INFO sqlalchemy.engine.Engine UPDATE person SET size=? WHERE person.id = ?
2023-10-07 14:56:26,254 INFO sqlalchemy.engine.Engine [generated in 0.00557s] (2.236, 4)
2023-10-07 14:56:26,401 INFO sqlalchemy.engine.Engine COMMIT
2023-10-07 14:56:26,660 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-07 14:56:26,662 INFO sqlalchemy.engine.Engine DELETE FROM person WHERE person.size > ?
2023-10-07 14:56:26,664 INFO sqlalchemy.engine.Engine [generated in 0.00133s] (10,)
2023-10-07 14:56:26,667 INFO sqlalchemy.engine.Engine COMMIT

In [24]:
result_list = session.execute('SELECT * FROM person WHERE id = :id', {"id":4})
for result in result_list:
    print(result)

2023-10-07 14:56:52,127 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-07 14:56:52,129 INFO sqlalchemy.engine.Engine SELECT * FROM person WHERE id = ?
2023-10-07 14:56:52,130 INFO sqlalchemy.engine.Engine [generated in 0.00077s] (4,)
(4, 'name_d', 2.236)

In [25]:
session.close()

2023-10-07 14:57:13,731 INFO sqlalchemy.engine.Engine ROLLBACK

In [33]:
engine = create_engine('sqlite:///test_db', echo=True)
session = Session(engine)
humans = session.query(Human).all()
for human in humans:
    print(f'id:{human.id} name:{human.name} height:{human.height} weight:{human.weight}')

2023-10-07 15:08:02,999 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-07 15:08:03,001 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
2023-10-07 15:08:03,002 INFO sqlalchemy.engine.Engine [generated in 0.00101s] ()
id:1 name:yamada height:160.0 weight:60.0
id:2 name:sato height:170.0 weight:65.0
id:3 name:tanaka height:185.0 weight:90.0
id:4 name:takahasi height:250.0 weight:40.0
id:5 name:yamanaka height:166.0 weight:63.0

In [31]:
new_human = Human(id=5, name='yamanaka', height=165, weight=63)
session.add(new_human)
session.commit()

2023-10-07 15:05:45,476 INFO sqlalchemy.engine.Engine INSERT INTO human (id, name, height, weight) VALUES (?, ?, ?, ?)
2023-10-07 15:05:45,487 INFO sqlalchemy.engine.Engine [generated in 0.01109s] (5, 'yamanaka', 165.0, 63.0)
2023-10-07 15:05:45,491 INFO sqlalchemy.engine.Engine COMMIT

In [32]:
human = session.query(Human).filter(Human.height==165).first()
human.height = 166
session.commit()

2023-10-07 15:06:53,308 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-10-07 15:06:53,311 INFO sqlalchemy.engine.Engine SELECT human.id AS human_id, human.name AS human_name, human.height AS human_height, human.weight AS human_weight
FROM human
WHERE human.height = ?
 LIMIT ? OFFSET ?
2023-10-07 15:06:53,314 INFO sqlalchemy.engine.Engine [generated in 0.00331s] (165, 1, 0)
2023-10-07 15:06:53,316 INFO sqlalchemy.engine.Engine UPDATE human SET height=? WHERE human.id = ?
2023-10-07 15:06:53,321 INFO sqlalchemy.engine.Engine [generated in 0.00520s] (166.0, 5)
2023-10-07 15:06:53,325 INFO sqlalchemy.engine.Engine COMMIT

In [34]:
session.query(Human).filter(Human.weight==63).delete()
session.commit()

2023-10-07 15:08:24,066 INFO sqlalchemy.engine.Engine DELETE FROM human WHERE human.weight = ?
2023-10-07 15:08:24,068 INFO sqlalchemy.engine.Engine [generated in 0.00172s] (63,)
2023-10-07 15:08:24,078 INFO sqlalchemy.engine.Engine COMMIT